body{
	margin:0;
	padding:0;
}

.fbpage{
	width:810px;
	color:black;
	font-family: 'Oxygen', sans-serif , Arial;
	font-size:12px;

}
.header{
	margin-bottom:10px;
}
.container{
	background-color:#EFF0F2;
}

.clear{
	clear : both;
}
a img{
	border:0;
}

.job_tbl{

}
.job_filter{
	background-color:#F8F9F9;
	color:black;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:1px solid #c3c4bf;
	text-align:center;
	margin: 0px auto 10px auto;
	width: 560px;
}
#search{
	width:90px;
}

fieldset{
	margin-bottom:10px;
	background-color:#F8F9F9;
	text-align:left;
	border:1px solid #c3c4bf;
}
fieldset legend{
	font-size:12px;
	font-weight:bold;
	margin-bottom:5px;
}
fieldset div{
	text-align:center;
}
#videos_section{
	margin-top:15px;
}
.youtube_box{
	margin-bottom:20px;
}

.job_tbl td.jlist{

}

.job_tbl .job_title{
	color:#000000;
	font-size:14px;
	text-decoration:none;
}
.job_tbl tr:hover .job_title{
	color:#E47002;
}

.job_tbl tr:hover .button_blue{
	opacity: 1;
}
.job_tbl .button_blue{
	opacity: 0.6;
}

.button_blue{
border:1px solid #25729a; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #3093c7; background-image: -webkit-gradient(linear, left top, left bottom, from(#3093c7), to(#1c5a85));
 background-image: -webkit-linear-gradient(top, #3093c7, #1c5a85);
 background-image: -moz-linear-gradient(top, #3093c7, #1c5a85);
 background-image: -ms-linear-gradient(top, #3093c7, #1c5a85);
 background-image: -o-linear-gradient(top, #3093c7, #1c5a85);
 background-image: linear-gradient(to bottom, #3093c7, #1c5a85);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093c7, endColorstr=#1c5a85);
}

.button_blue:hover{
 border:1px solid #1c5675;
 background-color: #26759e; background-image: -webkit-gradient(linear, left top, left bottom, from(#26759e), to(#133d5b));
 background-image: -webkit-linear-gradient(top, #26759e, #133d5b);
 background-image: -moz-linear-gradient(top, #26759e, #133d5b);
 background-image: -ms-linear-gradient(top, #26759e, #133d5b);
 background-image: -o-linear-gradient(top, #26759e, #133d5b);
 background-image: linear-gradient(to bottom, #26759e, #133d5b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#26759e, endColorstr=#133d5b);
}

.button_green{
border:1px solid #8bcf54; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #a9db80; background-image: -webkit-gradient(linear, left top, left bottom, from(#a9db80), to(#96c56f));
 background-image: -webkit-linear-gradient(top, #a9db80, #96c56f);
 background-image: -moz-linear-gradient(top, #a9db80, #96c56f);
 background-image: -ms-linear-gradient(top, #a9db80, #96c56f);
 background-image: -o-linear-gradient(top, #a9db80, #96c56f);
 background-image: linear-gradient(to bottom, #a9db80, #96c56f);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a9db80, endColorstr=#96c56f);
}

.button_green:hover{
 border:1px solid #74bf36;
 background-color: #8ed058; background-image: -webkit-gradient(linear, left top, left bottom, from(#8ed058), to(#7bb64b));
 background-image: -webkit-linear-gradient(top, #8ed058, #7bb64b);
 background-image: -moz-linear-gradient(top, #8ed058, #7bb64b);
 background-image: -ms-linear-gradient(top, #8ed058, #7bb64b);
 background-image: -o-linear-gradient(top, #8ed058, #7bb64b);
 background-image: linear-gradient(to bottom, #8ed058, #7bb64b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#8ed058, endColorstr=#7bb64b);
}


table.shiny_blue {
	border: 0;
	border-collapse:collapse;
	background-color : white;
}
table.shiny_blue  tr th{
	background:#FFFFFF url(img/tbl-th.gif) repeat-x scroll left top;
	border:1px solid #406EA1;
	padding:1px 1px 1px 5px;
	text-align:left;
}
table.shiny_blue  tr td{
	padding: 3px;
	border-bottom:1px solid #406EA1;
	border-left:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;
}
table.shiny_blue tr.odd td {
	background:#FFFFFF url(img/tbl-odd.gif) repeat-x scroll left top;
	padding:5px;
}
table.shiny_blue tr.even td {
	background:#FFFFFF url(img/tbl-even.gif) repeat-x scroll left top;
	padding:5px;
}
table.shiny_blue  tr th, table.shiny_blue  tr th a:visited, table.shiny_blue  tr th a:hover, table.shiny_blue  tr th a {
	color:#FFFFFF;
	text-decoration: none;
}

.like_gate{
	position:fixed;
	width:780px;
	top:20px;
	height:90%;
	margin: 0px 20px 0px 20px;
	text-align:center;
	border:4px solid gray;
	
	background-color : #EFF0F2;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.like_gate #message{
	margin-top:50px;
	margin-bottom:30px;
}
.like_gate hr{
	width:80%;
	margin-bottom:30px;
}

.widgets .youtube{
	color:#336600;
	font-weight:bold;
	text-decoration:none;
	font-size:10px;
}
.job_tbl{
}table.gray { width: 95%; border-collapse: collapse; }
table.gray { width: 95%; border-collapse: collapse; }
table.gray th { background: #333; color: #fff; }
table.gray th a{color: #0099CC;}
table.gray th, table.gray td { border-bottom: 1px solid #ccc; padding: 2px 5px; font-size: 100%;}
table.gray .odd { background: #fff; }
table.gray .even { background: #f7f7f7; }